<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AssistantEmployee.Properties.PositiveResponseSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <AssistantEmployee.Properties.PositiveResponseSettings>
            <setting name="FullPostalAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeclensionFullName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PositionSignDocuments" serializeAs="String">
                <value/>
            </setting>
            <setting name="NameSignDocuments" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowSpecialist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameSpecialist" serializeAs="String">
                <value/>
            </setting>
        </AssistantEmployee.Properties.PositiveResponseSettings>
    </userSettings>
</configuration>
